/* Universal rules */

* {
    box-sizing: border-box;
}

html, body, nav, header, section, footer {
    width: 100%;
}

html {
    font-size: 16px;
}

h2, h3, p, a, li, img {
    font-family: 'Montserrat', 'Verdana', sans-serif;
}

h1 {
    font-family: 'DotGothic16', 'Verdana', sans-serif;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
}

h3 {
    font-size: 1.25rem;
}

.corner h2 {
    position: absolute;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
}

/* Navbar styles */

nav {
    height: 3rem;
    background-color: #b1a296;
    color: #fff;
    font-weight: 600;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p {
    margin: 1%;
    text-transform: uppercase;
}

nav ul {
    display: flex;
}

nav a {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Header styles */

header {
    width: 100%;
    padding: 8% 0 5% 5%;
    background-color: hsla(27, 15%, 64%, 0.2);
}

/* About section */

#about {
    width: 100%;
    background-color: #938e94;
}

#about .content {
    display: flex;
}

#about img {
    width: 20%;
    height: auto;
    display: inline-block;
}

#about article {
    width: 60%;
    padding: 3%;
}

#about .section-title {
    width: 20%;
    height: 100%;
    padding-bottom: 20%;
    position: relative;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 50%, rgba(93, 92, 97, 1) 50%);
}

#about h2 {
    right: 0;
    padding: 5% 5% 5% 30%;
    text-align: right;
}

/* Projects section */

#projects {
    width: 100%;
    background-color: #7395ae;
    display: flex;
}

#projects .section-title {
    width: 20%;
    height: 100%;
    padding-bottom: 20%;
    position: relative;
    background: linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(85, 122, 149, 1) 50%);
}

#projects h2 {
    left: 0;
    padding: 5% 30% 5% 5%;
}

.project-list {
    width: 80%;
    padding: 3%;
}

.project-list ul {
    list-style: none;
}

.project-list li:before { 
    content: "";
    height: 0;
    width: 0;
    border-color: transparent #000;
    border-style: solid;
    border-width: 0.4em 0 0.4em 0.5em;
    position: relative;
    display: block;    
    left: -1em;
    top: 1em;    
}

li.rotate:before {
    transform: rotate(90deg)
}


.project div {
    display: none;
}

/* Skills section */

#skills .section-title {
    width: 100%;
    padding: 2%;
    text-align: center;
}

#skills h2 {
    padding: 1%;
}

.skill-list ul {
    display: flex;
    justify-content: center;
}

.skill-list li {
    margin: 1%;
}

.skill-list img {
    width: 4rem;
}

/* Contacts section */

#contact .section-title {
    width: 100%;
    padding: 2%;
    text-align: center;
}

#contact h2 {
    padding: 1%;
}